@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
}
:root {
  font-size: 100%;
  --max-width: 1200px;
  --text-color: #2e3438;
  --active-color: #f75b73;
  --white-color: #ffffff;
  --dark-pink-color: #e00482;
  --blue-color: #2747d1;
  --our-services-card-height: 400px;
}

/* ================================================================================ */
/* ================================================================================ */
/* ==================================== Navbar ==================================== */
/* ================================================================================ */
/* ================================================================================ */

.navbar {
  background-color: white;
  height: 70px;
  display: grid;
  place-items: center;
  text-transform: capitalize;
}
.container {
  position: relative;
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
}
.navbar_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbar_menu {
  display: flex;
  align-items: center;
}
.navbar_menu li {
  list-style: none;
}
.navbar_menu_link {
  display: block;
  padding: 0.5rem 0.1rem;
  margin: 0 1rem;
  text-decoration: none;
  color: var(--text-color);
  text-transform: capitalize;
}
.navbar_menu_link.active {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}
.navbar_menu_btn {
  display: inline-block;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 10px;
  padding: 0.8rem 2rem;
  text-decoration: none;
  cursor: pointer;
  margin-left: 2rem;
}
.hameburger {
  display: none;
  width: 40px;
  height: 27px;
  background-color: white;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.hameburger span {
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar_cross {
  display: none;
}

/* ================================================================================ */
/* ================================================================================ */
/* ==================================== Hero ==================================== */
/* ================================================================================ */
/* ================================================================================ */

.hero {
  min-height: 100vh;
  position: relative;
  /* background-color: red; */
  margin-bottom: 2rem;
}
.hero_design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 500px;
  background: linear-gradient(275.54deg, #c05994 -1.39%, #2647d2 97.36%);
  border-radius: 0px 0px 80px 80px;
  z-index: -1;
  /* border: 2px solid red; */
}
.hero_design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/Group.png);
  background-position: center 70%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* background-color: red; */
}
.left_vector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/Group\ 186.png);
  background-repeat: no-repeat;
  background-position: left 140px;
}
.right_vector {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/Group\ 185.png);
  background-repeat: no-repeat;
  background-position: 100% 50px;
}
.hero_first {
  min-height: 300px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white-color);
}

.hero_text_content_1 {
  text-align: center;
}

.hero_text_content_1 p {
  line-height: 62px;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 2rem;
}

.hero_contact_form_wrapper {
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
  padding: 5rem 5rem;
  box-shadow: 0px 4px 70px rgba(156, 156, 156, 0.5);
  position: relative;
}
.hero_contact_form_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/contact_us_form_image_1.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.1;
  z-index: 9;
}
.hero_contact_form_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/footer-vector-right.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 300px;
  z-index: 9;
}

.hero_contact_titles {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 209, 220);
  padding-bottom: 4rem;
  margin-bottom: 3rem;
  z-index: 10;
}

.hero_contact_left_titles {
  flex: 1;
}
.hero_contact_left_titles p:nth-child(1) {
  font-style: normal;
  font-weight: 500;
  font-size: 2.1875rem;
  line-height: 47px;
  color: #2f353a;
  /* margin-bottom: 1.5rem; */
}
.hero_contact_left_titles p:nth-child(2) {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 26px;
  color: #5a7184;
}
.hero_contact_right_btn {
  flex: 0.8;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;
}
.hero_contact_right_btn a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--white-color);
  text-transform: capitalize;
  text-decoration: none;
  background: transparent;
  border: 1.5px solid #f75b73;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 23px;

  color: #f75b73;
}

.hero_contact_form_title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 28px;
  color: #5a7184;
}

.hero_contact_form {
  position: relative;
  margin-top: 2rem;
  z-index: 10;
}
.hero_contact_inputs_1 {
  display: flex;
  margin-bottom: 1.5rem;
}
.hero_contact_inputs_1 input {
  flex: 1;
  padding: 1.2rem 1.5rem;
  border: 1px solid rgba(131, 136, 150, 0.3);
  border-radius: 5px;
  font-weight: 450;
  font-size: 1rem;
}
.hero_contact_inputs_1 input:nth-child(1) {
  margin-right: 1rem;
}

.hero_contact_inputs_1 input::placeholder {
  font-style: normal;
  font-weight: 450;
  font-size: 1rem;
  line-height: 20px;

  color: #5a7184;
}
.hero_contact_textarea_1 {
  margin-bottom: 2rem;
}
.hero_contact_textarea_1 textarea {
  width: 100%;
  height: 140px;
  padding: 1.2rem 1.5rem;
  border: 1px solid rgba(131, 136, 150, 0.3);
  border-radius: 5px;
  resize: none;
  font-weight: 450;
  font-size: 1rem;
}
.hero_contact_textarea_1 textarea::placeholder {
  font-style: normal;
  font-weight: 450;
  font-size: 1rem;
  line-height: 20px;
  color: #5a7184;
}
.hero_contact_submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero_contact_submit_btn button {
  display: inline-block;
  padding: 0.8rem 3rem;
  border-radius: 5px;
  color: var(--white-color);
  text-transform: capitalize;
  background: #e00482;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

/* ================================================================================ */
/* ================================================================================ */
/* ==================================== locations ==================================== */
/* ================================================================================ */
/* ================================================================================ */

.locations {
  margin-bottom: 8rem;
}
.locations_wrapper {
  display: flex;
  flex-wrap: wrap;
}
.location_card {
  flex: 1;
  flex-basis: 230px;
  background-color: white;
  margin: 1rem;
  box-shadow: 0px 5px 40px #c9cacc;
  border-radius: 10px;
  padding: 2rem 2rem;
}

.location_country {
  margin-bottom: 0.5rem;
}
.location_country p {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0.2px;
  color: #152c5b;
}

.location_description {
  display: flex;
  align-items: flex-start;
}

.location_icon {
  width: 28px;
  height: 28px;
  border: 1px solid #152c5b;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  color: #152c5b;
}

.location_description_content {
  margin-left: 0.8rem;
}

.location_description_content p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 28px;
  color: #5a7184;
}

/* ================================================================================ */
/* ================================================================================ */
/* ==================================== questions ==================================== */
/* ================================================================================ */
/* ================================================================================ */

.questions {
  margin-bottom: 8rem;
}

.questions_wrapper {
  width: 100%;
  min-height: 404px;
  background: linear-gradient(275.54deg, #c05994 -1.39%, #2647d2 97.36%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
  position: relative;
}

.questions_wrapper_design {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

.questions_wrapper_design_1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/Group\ 186.png);
  background-repeat: no-repeat;
  background-position: 0% 150px;
}
.questions_wrapper_design_2 {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background: url(../images/Group\ 186.png);
  background-repeat: no-repeat;
  background-position: 60% 150px;
}
.questions_wrapper_design_3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: url(../images/Group\ 186.png);
  background-repeat: no-repeat;
  background-position: 120% 200px;
}

.questions_wrapper p {
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;
  max-width: 400px;
  width: 100%;
  margin-bottom: 3rem;
}

.questions_wrapper a {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--white-color);
  text-transform: capitalize;
  text-decoration: none;
  background: white;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;

  color: #724abb;
}

/* ================================================================================ */
/* ================================================================================ */
/* ==================================== Footer  ==================================== */
/* ================================================================================ */
/* ================================================================================ */

.footer {
  width: 100%;
  min-height: 500px;
  background: rgba(0, 17, 86, 0.07);
  border-radius: 70px 70px 0px 0px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  padding: 2rem 0;
}
.footer_vector_left {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/footer-vector-left.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: left bottom;
  opacity: 0.05;
}
.footer_vector_right {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background: url(../images/footer-vector-right.png);
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-position: right top;
  /* opacity: .1; */
}

.footer_wrapper {
  display: flex;
  /* background-color: red; */
  min-height: 350px;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer_item_1,
.footer_item_2,
.footer_item_4 {
  flex: 1;
  flex-basis: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  /* background-color: red; */
}

.footer_item_1 img {
  margin-bottom: 1.5rem;
}

.footer_item_1 p {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  /* or 156% */

  color: #2f353a;
}

.footer_item_2 p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25px;
  text-transform: capitalize;
  color: #2f353a;
  margin-bottom: 1.5rem;
}

.footer_item_2 ul li {
  list-style: none;
}

.footer_item_2 ul li a {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 40px;
  text-decoration: none;
  color: #2f353a;
}
.footer_contact {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.footer_item_4 p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 25px;
  text-transform: capitalize;
  color: #2f353a;
  margin-bottom: 1.5rem;
}
.contact_email {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #2f353a;
}

.footer_item_icon {
  font-size: 1.3rem;
  color: #6a7797;
  margin-right: 1rem;
  border: 0.8px solid #6a7797;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
}

.footer_item_1_icons_wrapper {
  margin-top: 2rem;
}
.footer_item_1_icons_wrapper a {
  text-decoration: none;
  margin: 0 0.5rem;
}
.footer_item_1_icons_wrapper i {
  color: #6a7797;
  font-size: 1.3rem;
  cursor: pointer;
}

.footer_arrow_up {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background: linear-gradient(273.25deg, #ca5096 2.68%, #2145df 97.3%);
  box-shadow: 0px 9px 50px rgba(22, 127, 239, 0.2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ===================================================================   @media Queries  =========================================================================== */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */
/* ================================================================================================================================================================ */

@media (max-width: 1060px) {
  .navbar {
    font-size: 85%;
  }
  .navbar_cross {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    color: var(--text-color);
    transform: rotate(45deg);
    cursor: pointer;
    pointer-events: stroke;
  }

  .navbar_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  .navbar_menu.active {
    display: flex;
  }
  .navbar_menu_link {
    margin: 0 0.8rem;
  }
  .navbar_menu_btn {
    padding: 0.8rem 1.5rem;
    margin-left: 1rem;
  }
  .hameburger {
    display: flex;
  }
}

@media (max-width: 890px) {
  .crm_content_wrapper {
    flex-direction: column-reverse;
    /* border: 2px solid red; */
  }
}

@media (max-width: 850px) {
  :root {
    font-size: 75%;
  }
  .navbar {
    font-size: 100%;
  }
}

@media (max-width: 650px) {
  .navbar_menu {
    flex-direction: column;
  }
  .navbar_menu_link {
    margin: 1rem 0px;
  }
  .navbar_menu_btn {
    padding: 0.8rem 1.5rem;
    margin-left: 0rem;
  }
}

@media (max-width: 720px) {
  .left_vector {
    display: none;
  }
}

@media (max-width: 660px) {
  .hero_contact_titles {
    flex-direction: column;
  }

  .hero_contact_right_btn {
    flex: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0rem;
    margin-top: 3rem;
  }
}

@media (max-width: 572px) {
  .hero_contact_inputs_1 {
    display: flex;
    margin-bottom: 1.5rem;
    flex-direction: column;
  }
  .hero_contact_inputs_1 input {
    flex: 1;
    padding: 1.2rem 1.5rem;
    border: 1px solid rgba(131, 136, 150, 0.3);
    border-radius: 5px;
    font-weight: 450;
    font-size: 1rem;
  }
  .hero_contact_inputs_1 input:nth-child(1) {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }

  .hero_contact_inputs_1 input::placeholder {
    font-style: normal;
    font-weight: 450;
    font-size: 1rem;
    line-height: 20px;

    color: #5a7184;
  }

  .hero_first {
    padding: 5rem 0;
  }
}

@media (max-width: 510px) {
  .footer_wrapper {
    display: flex;
    /* background-color: red; */
    min-height: 350px;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer_item_1,
  .footer_item_2,
  .footer_item_4 {
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    /* background-color: red; */
  }
}

@media (max-width: 450px) {
  .hero_contact_left_titles {
    flex: 1;
    text-align: center;
  }

  .hero_contact_form_wrapper {
    padding: 5rem 2rem;
  }
  .hero_contact_submit_btn button {
    width: 100%;
  }

  .hero_contact_right_btn a {
    width: 100%;
    text-align: center;
  }
}
